<ActionBar title="Nested Navigation" class="action-bar">
</ActionBar>


<!--Tab View Layout Example-->
<TabView class="tab-view" tabsBackgroundColor="#f57c00" selectedTabTextColor="black">
  <StackLayout *tabItem="{title: 'Cats'}">
    <my-cat-tab></my-cat-tab>
  </StackLayout>
  <StackLayout *tabItem="{title: 'Dogs'}">
    <my-dog-tab></my-dog-tab>
  </StackLayout>
</TabView>

<!--TabView Layoyt example + navigate to root when switching tabs-->
<TabView 
  #tabView 
  tabsBackgroundColor="#f57c00" selectedTabTextColor="black"
  [(ngModel)]="selectedIndex"
  (selectedIndexChanged)="tabViewIndexChange(tabView.selectedIndex)">

  <StackLayout *tabItem="{title: 'Dogs'}">
    <my-dog-tab></my-dog-tab>
  </StackLayout>

  <StackLayout *tabItem="{title: 'Cats'}">
    <my-cat-tab></my-cat-tab>
  </StackLayout>
</TabView>
